- title "Projects"
- menu :projects

#active.actions
  %h2
    current projects
    %small== (#{link_to "new", url(:new_project)})
  %ul= partial :project, :with => @active_projects

#someday.actions
  %h2 someday/maybe projects
  %ul= partial :project, :with => @someday_projects

#completed.actions
  %h2 completed projects
  %ul= partial :project, :with => @completed_projects

%script{:type => "text/javascript"}= partial "shared/actions", :format => :js
%script{:type => "text/javascript"}= partial "shared/toggle", :format => :js